@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color:#F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px #00000020;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.page-header {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  gap: 28px;
  justify-content: space-between;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.navigation-link {
  margin: 0;
  padding: 20px 16px 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-user .navigation-item:nth-of-type(1) {
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
}

.navigation-user .navigation-item:nth-of-type(2) {
  background-image: url(../images/heart-icon.svg);
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: center center;
}

.button {
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.navigation-user-button {
  padding: 8px 34px 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

/* INDEX-MAIN */

/* WELCOME-SLOGAN */

.welcome-slogan-wrapper {
  background-image: url("../images/divider.svg"),
                    url("../images/index-background.jpg");
  background-color: #83B3D320;
  background-size:  1200px 57px,
                    1200px 485px;
  background-position:  center bottom,
                        center center;
  width: 100%;
  height: 485px;
  background-repeat: no-repeat;
  margin-bottom: 70px;
}

.welcome-slogan {
  display: block;
  margin: auto;
  padding-top: 50px;
}

/* ADVANTAGES */

.slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.slogan-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.advantages-item {
  display: flex;
  text-align: center;
  align-items: center;
  width: 400px;
  height: 384px;
}

.text-container {
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title-description {
  color: #333333;
}

.advantages-item:nth-of-type(1) {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
}

.advantages-item:nth-of-type(2) {
  flex-direction: column;
  justify-content: center;
  background-color: #82B3D312;
}

.advantages-item:nth-of-type(3) {
  flex-direction: column;
  justify-content: center;
  background-color: #82B3D320;
}

.advantages-item:nth-of-type(4) {
  flex-direction: column;
  justify-content: center;
  background-color: #82B3D312;
}

.advantages-item:nth-of-type(5) {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
}

.advantages-item:nth-of-type(1) .title-description,
.advantages-item:nth-of-type(5) .title-description {
  color: #FFFFFF;
}

/* SERVICES */

.services .slogan {
  margin-bottom: 20px;
}


.services .slogan-description {
  margin-bottom: 64px;
}

.services-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 96px;
}

.services-item {
  width: 100%;
  height: 385px;
}

.services-item:nth-of-type(1) {
  background-color: #83B3D320;
  background-image: url(../images/house.svg);
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.services-item:nth-of-type(2) {
  background-image: url(../images/food.svg);
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-position: center 82px;
}

.services-item:nth-of-type(3) {
  background-color: #83B3D320;
  background-image: url(../images/souvenire.svg);
  background-size: 64px 76x;
  background-repeat: no-repeat;
  background-position: center 79px;
}

.services-item .title {
  margin-top: 183px;
}

.hotels {
  text-align: center;
  margin-bottom: 96px;
}

.hotels .slogan-description {
  margin-bottom: 54px;
}

.hotels-link {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding: 8px 50px 8px 50px;
}

/* SUBSCRIBE-FORM */

.index-subscribe {
  text-align: center;
  background-image: url(../images/index-subscribe-background.jpg);
  background-size: 1200px auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 100%;
  height: 415px;
}

.index-subscribe .slogan {
  padding-top: 96px;
  margin-bottom: 20px;
}

.index-subscribe .slogan-description {
  color: #FFFFFF;
  margin-bottom: 54px;
}

.subscribe-form-input {
  width: 452px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding: 0;
  margin: 0;
}

.subscribe-form-input::placeholder {
  line-height: 24px;
}

.subscribe-form-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px 8px 50px;
}

/* CATALOG-MAIN */

/* INNER-HEADER */

.inner-header {
  background-image: url(../images/filters-background.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 412px;
  width: 100%;
  margin-bottom: 50px;
}

.inner-header-container {
  padding: 35px 70px 70px 70px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  gap: 28px;
  margin-bottom: 40px;
  position: relative;
}

.breadcrumbs-item:nth-of-type(1)::after {
  content: "";
  position: absolute;
  background-image: url(..//images/right-arrow.svg);
  background-repeat: no-repeat;
  background-size: 6px 10px;
  width: 6px;
  height: 10px;
  left: 25px;
  top: 6px;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #FFFFFF;
}

.catalog-filter-group {
  border: unset;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 23px;
}

.catalog-filter-group:nth-of-type(1) .catalog-filter-list {
  margin-right: 70px;
}

.catalog-filter-group:nth-of-type(2) .catalog-filter-list {
  margin-right: 140px;
}

.catalog-filter-group:nth-of-type(3) .catalog-filter-list {
  display: flex;
  justify-content: flex-start;
  gap: 2px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.minimal-price {
  width: 143px;
  height: 48px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
}

.maximal-price {
  width: 143px;
  height: 48px;
  background-color: #F2F2F2;
  border-radius: 0 4px 4px 0;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  gap: 32px;
}

.apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  padding: 8px 50px 8px 50px;
}

.reset-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: unset;
  border-radius: 4px;
  border: none;
  padding: 8px 58px 8px 58px;
}

/* CATALOG-HOTELS */

.catalog-hotels-selector-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  align-items: center;
}

.select-control {
  margin-left: 200px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #333333;
}

.visualization-buttons {
  margin-left: 70px;
  display: flex;
  gap: 8px;
}

.visualization-buttons .button {
  background-color: unset;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 14px;
}

.button.button-current {
  border: 2px solid #000000;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 70px;
  gap: 20px;
}

.hotel-card {
  padding: 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
}

.hotel-card-link {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin-bottom: 16px;
}

.hotel-card-image {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.hotel-card-price {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  color: #333333;
  text-align: end;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.hotel-card-buttons {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 16px;
}

.hotel-card-about-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 26px 8px 26px;
}

.hotel-card-chose-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  background-color: #82B3D3;
}

.hotel-card-statisic {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hotel-card-stars {
  background-image: url(../images/star-icon.svg);
  background-size: 18px 17px;
  background-repeat: no-repeat;
  background-position: left center;
  width: 18px;
  margin: 0;
  padding: 0;
}

.hotel-card-rating {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

/* FOOTER */

.page-footer {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 35px;
  gap: 41px;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.vk-button {
  padding: 12px 13px 12px 13px;
  background-color: unset;
}

.telegram-button {
  padding: 12px 15px 13px 15px;
  background-color: unset;
}

.youtube-button {
  padding: 12px 13px 12px 13px;
  background-color: unset;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  padding: 5px 195px 5px 195px;
}
